.sidepanel-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: relative;
}

h1 {
	color: var(--primary);
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
}

// Language selection styles
.language-selection {
	align-items: end;
	display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 70px;
	justify-content: space-between;
	gap: 10px;

	&__item {
		display: grid;
		gap: 10px;
	}

	select {
		width: 100%;
		padding: 9px 5px;
		border: 1px solid var(--secondary);
		border-radius: 4px;
		background-color: var(--background);
		color: var(--text);
	}
}

// Textarea styles
.language-text {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--secondary);
	border-radius: 4px;
	resize: vertical;
	background-color: var(--background);
	color: var(--text);

	&:focus {
		outline: none;
		border-color: var(--primary);
	}

	&[readonly] {
		background-color: var(--secondary);
		opacity: 0.7;
	}
}

// Label styles
label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

/* Loading overlay */
.loading-overlay {
	align-items: center;
	background: rgba(255, 255, 255, 0.3);
	display: flex;
	height: calc(100% + 40px);
	inset-block-start: 0;
	inset-inline-start: 0;
	justify-content: center;
	margin: -20px;
	position: absolute;
	width: calc(100% + 40px);
	z-index: 1000;
  }
  
  .spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  